<!DOCTYPE html>
<html ng-app="portfolio">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Latest compiled and minified CSS Boot Strap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
  <!-- ngTable css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.css" media="screen" title="no title" charset="utf-8">
   <link rel = "stylesheet" href="/stylesheets/style.css" >
  <base href="/" />
</head>
<body>




<div ui-view></div>



<!-- jQuery cdn -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<!-- angular cdn -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js'> </script>
<!-- ui router cdn -->
<script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<!-- ng table cdn -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.js"> </script>
<!-- bootstrap cdn -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- main app for angular configuration -->
<script type='text/javascript' src='/javascripts/app.js'> </script>
<!-- controller for home partial -->
<script type='text/javascript' src='/javascripts/controllers/homeController.js'> </script>
<!-- controller for location partial -->
<script type='text/javascript' src='/javascripts/controllers/locationController.js'> </script>
<!-- async cdn -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.js'> </script>
<!-- angular google maps -->
<script type='text/javascript' src='/javascripts/ngmap/build/scripts/ng-map.js'> </script>
<!-- google maps API -->
<script src="http://maps.googleapis.com/maps/api/js"></script>

</body>
</html>